* {
    margin: 0;
    padding: 0;
}

body {
    font-family:helvetica;
}

header {
    display: flex;
    justify-content: center;
    padding: 100px;
    cursor: pointer;
}

h1:hover {
    color: #003b3b;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    background-color: #353535;
    padding: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: #003b3b;
    
}

h2 {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

a {
    text-decoration: none;
}